<div id="taskpage-fin-goal" class="taskpage-subtask">
  <div class="overview">
    <h2>Main Goal</h2>
    <p>Don't be afraid to dream big, but back it up with some math.</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-fin-rewards" class="taskpage-subtask">
  <div class="overview">
    <h2>Rewards System</h2>
    <p>Kickstarter has you give out rewards to backers at different levels of funding (i.e. $5, $25, $50). Many projects make the mistake of having too many rewards or too complicated of a structure. "However simple you think your pricing tiers are, make them even simpler," say Tom Gerhardt and Dan Provost, creators of the Glif iPhone stand. Craig Mod has also done some great quantitative research on the most lucrative fundraising levels ($50 is the sweet spot.)</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-fin-fulfill" class="taskpage-subtask">
  <div class="overview">
    <h2>Fulfillment</h2>
    <p>Execution really is always the hard part, isn't it? Isn't not surprising then that manufacturing and fulfillment are frequently the biggest challenges for Kickstarter projects that get funded. Will you use a Chinese factory for mass production like Scott Wilson did to produce TikTok+LunaTik? Or would you want to use ShipWire like the Glif guys did? Make sure you budget for shipping costs, and that often means being ready to ship internationally for your supporters overseas.</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-fin-stretch-goals" class="taskpage-subtask">
  <div class="overview">
    <h2>Stretch Goals</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-fin-math" class="taskpage-subtask">
  <div class="overview">
    <h2>Do the Math</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>