<div id="taskpage-video-videographer" class="taskpage-task">
  <div class="overview">
    <h2>Videographer</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-video-storyboard" class="taskpage-task">
  <div class="overview">
    <h2>Storyboard</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-video-filming" class="taskpage-task">
  <div class="overview">
    <h2>Filming</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-video-editing" class="taskpage-task">
  <div class="overview">
    <h2>Editing</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-video-sharing" class="taskpage-task">
  <div class="overview">
    <h2>Sharing</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>