<div id="taskpage-net-website" class="taskpage-task">
  <div class="overview">
    <h2>Website</h2>
    <p>All of your networking efforts should point your audience to this location. It can be a Facebook page, a free blog site, or a nice personal website. As long as you have a home base for people to land on, that's where the bulk of your information will live. Having a main site will allow your networking efforts to be done in short bursts, giving people just enough information to get them excited about it, then directing them to your website for more information. Having a website shows you're serious.</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-net-friends" class="taskpage-task">
  <div class="overview">
    <h2>Friends and Family</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-net-social-media" class="taskpage-task">
  <div class="overview">
    <h2>Social Media</h2>
    <p>"If you are looking to promote your project, it mostly likely falls into a niche category that is covered by an influential blogger. Seek them out,"says Dan Provost of Glif. Taking a similar approach, The Noun Project created a spreadsheet of contact info for people at 40 design blogs so that they would be easy to contact upon launch. Do your homework on who you should be reaching out to, and it will likely pay off in funding.</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-net-blog" class="taskpage-task">
  <div class="overview">
    <h2>Blogging / Twitter</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>

<div id="taskpage-net-events" class="taskpage-task">
  <div class="overview">
    <h2>Events</h2>
    <p>NEED CONTENT</p>
  </div>
  <div class="form-display">
    <!-- form template gets injected here -->
  </div>
</div>